@import "../Common/Common";

.menu-message{
  position: fixed;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  @extend %show;
  z-index: 2;
}

.menu-message__container{
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 15px;
  max-width: 400px;
  max-height: 500px;
  @extend %styled-background;
  @extend %styled-radius;
  @extend %styled-border;
}

.menu-message__text::-webkit-scrollbar {
  width: 8px;
}

.menu-message__text{
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: left;
  text-align: left;
  overflow: scroll;
  p{
    width: 100%;
    text-align: left;
  }
}

.menu-message__button{
  @extend %styled-background;
  @extend %styled-radius;
  @extend %styled-border;
  @extend %button-tap;
  padding: 10px;
}