.slide_snowInfinite:before{
  position: absolute;
  pointer-events: none;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background-image: url("../../../Media/Images/UI/effects/Snow_01.png");
  background-size: 300px;
  animation: 35s snowMoveBlinkForward linear infinite;
}

@keyframes snowMoveBlinkForward {
  0% { transform: rotate(0deg) scale(230%); opacity: 1; }
  25% { opacity: 0.5; }
  50% { opacity: 1; }
  75% { opacity: 0.5; }
  100% { transform: rotate(360deg) scale(230%); opacity: 1; }
}

.slide_snowInfinite:after{
  position: absolute;
  pointer-events: none;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background-image: url("../../../Media/Images/UI/effects/Snow_02.png");
  background-size: 160px 320px;
  background-repeat: repeat;
  animation: 20s snowMoveBlinkForwardBack linear infinite;
}

@keyframes snowMoveBlinkForwardBack {
  0% { transform: rotate(360deg) scale(220%); background-position: 0 0; opacity: 0.7; }
  25% { transform: scale(220%); }
  50% { opacity: 0.3; transform: scale(220%); }
  75% { transform: scale(220%);}
  99% { transform: scale(220%); opacity: 0.7}
  100% { transform: rotate(0deg) scale(220%); opacity: 0; background-position: 500px 1000px; }
}