@import '../Common/Common';

.stories__slider-checkbox {
  display: flex;
  flex-direction: row;
  margin: 30px;
}

.slider__check {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  @extend %styled-background;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
  @extend %button-tap;
}

.slider__check_active {
  background: #007081;
  transform: scale(1.5);
  margin: 0 10px;
}