@use "../Common/Animation";
@use "../Common/Container";

.stories{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 85vh;
  gap: 25px;
  overflow: hidden;
  position: relative;
  @extend %show
}

.stories__container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 85vh;
}

.stories__slider-checkbox{
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.slider__check{
  width: 15px;
  height: 15px;
  @extend %styled-background;
  border-radius: 50px;
  transition: all .5s ease-in-out;
}

.slider__check_active{
  background-color: white;
}

.story{
  max-width: 370px;
  width: 100vw;
  border-radius: 15px;
  padding: 10px;
  z-index: 1;
  position: absolute;
  transition: all .2s ease-in-out;
  @extend %styled-border;
}


.stories::-webkit-scrollbar{
  width : 5px;
  height: 10px;
}

.stories::-webkit-scrollbar-track {
  background: rgba(0, 103, 1, 0.7);
  border-radius: 10px;
}


.stories::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.stories::-webkit-scrollbar-thumb:hover {
  background: rgba(136, 136, 136, 0.9);
}
