@import '../Common/Common';

.stories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  position: relative;
  @extend %show;
}

.stories__slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}

.stories__container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  width: 100vw;
  height: 70vh;
}


.story {
  max-width: 400px;
  width: 100vw;
  height: 600px;
  z-index: 1;
  position: absolute;
  transition: all 0.2s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  flex-direction: column;
  transform: scale(103%);
  @extend %button-tap;
}

.story_disabled {
  .story__button,
  .story__description,
  .story__genre,
  .story__status,
  .story__mature,
  .story__achievements-amount{
    visibility: hidden;
    opacity: 0;
  }
  .story__image-container {
    .story__image {
      box-shadow: none;
      transition: all 0.5s ease-in-out;
      // border: 1px solid rgba(128, 128, 128, 0.1);
    }
  }
  .story__image-container:before{
    background: linear-gradient(0deg, black 0%, black 30%, rgba(0, 0, 0, 0.6) 70%, rgba(0, 0, 0, 0.7) 100%);
  }
}

.story__image-container {
  display: grid;
  grid-row: 1/2;
  grid-column: 1;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.story__image-container:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 23px;
  left: 0;
  margin: auto;
  width: 350px;
  content: "";
  @extend %styled-radius;
  // @extend %styled-border;
  background: linear-gradient(0deg, $mainColor 0%, $additionalColor 30%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 100%);
  background-size: 100% 100%;
  //animation: gradient 10s ease infinite;
  transition: all 0.5s ease-in-out;
}

@keyframes gradient {
  0% {
    background-size: 100% 100%;
  }
  50% {
    background-size: 100% 110%;
  }
  100% {
    background-size: 100% 100%;
  }
}


.story__image {
  grid-column: 1;
  grid-row: 1;
  max-width: 350px;
  margin: 0 auto;
  border-radius: 10px;
  // box-shadow: -1px 0 25px 1px rgba(255, 235, 184, 0.1), 1px 0 25px 1px rgba(255, 235, 184, 0.1), 0 1px 25px 1px rgba(255, 235, 184, 0.1), 0 -1px 25px 1px rgba(255, 235, 184, 0.1);
  // box-shadow: 0 0 10px -1px rgba(255, 0, 0, 0.5), 0 0 18px -2px rgba(0, 255, 0, 0.7), 0 0 25px -3px #0000ff;
  @extend %styled-background;
}

.story__info-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 350px;
  grid-row: 1/2;
  grid-column: 1;
  align-self: end;
  z-index: 1;
}

.story__title{
  margin: 0 auto 15px auto;
  align-self: center;
  width: 80%;
}

.story__description {
  font-size: var(--mediumtext);
  text-align: left;
  padding: 0 15px 15px 15px;
  margin: 0 0 0 0;
  transition: all 0.5s ease-in-out;
  z-index: 15;
}

.story__button {
  // @extend %styled-border;
  @extend %styled-background;
  @extend %styled-radius;
  text-align: center;
  max-width: 250px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: auto auto -22px auto;
  color: white;
  transition: all 0.5s ease-in-out;
}

.story__genre {
  padding: 5px 5px 0 10px;
  font-size: var(--tinytext);
  background: linear-gradient(300deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  grid-column: 1;
  grid-row: 1;
  justify-self: right;
  align-self: start;
  transition: all 0.5s ease-in-out;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px 10px 0 0;
  z-index: 5;
  min-width: 335px;
  height: 16px;
  text-align: right;
  justify-content: center;
  justify-items: center;
}

.story__mature {
  text-align: center;
  margin: 30px 0 0 0;
  padding: 3px 6px;
  font-size: var(--tinytext);
  grid-column: 1;
  grid-row: 1;
  justify-self: right;
  align-self: start;
  transition: all 0.5s ease-in-out;
  background-color: red;
  border-radius: 4px 0 0 4px;
  z-index: 5;
}

.story__status {
  text-align: center;
  margin: 30px 0 0 0;
  padding: 3px 6px;
  color: black;
  font-size: var(--tinytext);
  grid-column: 1;
  grid-row: 1;
  justify-self: left;
  align-self: start;
  transition: all 0.5s ease-in-out;
  background-color: white;
  border-radius: 0 4px 4px 0;
  z-index: 5;
}

.story__achievements-amount{
  background-color: rgba(255, 255, 255, 0.25);
  grid-column: 1;
  grid-row: 1;
  justify-self: left;
  align-self: start;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
  width: 100%;
  height: 17px;
  padding: 2px 0;
  font-size: var(--tinytext);
  transition: all 0.5s ease-in-out;
  max-width: 70px;
  z-index: 6;
  border-radius: 10px 0 10px 0;
}

.story__achievements-amount {
  & p, img {
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.75));
  }
}

.story__achievements-amount > .icon_span{
  width: 15px;
}

@media (max-width: 380px) {

  .story__info-container{
    max-width: 300px;
  }

  .stories__slider-button {
    display: none;
  }

  .story__genre {
    min-width: 270px;
  }

  .story__image {
    width: 300px;
  }
  .story__image-container:before {
    width: 300px;
  }
}

@media (max-height: 840px) {
  .story{
    margin-top: 70px;
  }
}

@media (max-height: 750px) {
  .story__image {
    margin-top: 50px;
    max-width: 300px;
    max-height: 500px;
  }

  .story__description {
    padding: 0 35px 15px 35px;
  }

  .story__image-container:before {
    margin-top: 50px;
    width: 300px;
    max-height: 500px;
  }

  .story__status {
    margin: 80px 0 0 0;
  }

  .story__mature {
    margin: 80px 0 0 0;
  }

  .story__genre {
    margin-top: 50px;
    min-width: 270px;
  }

  .story__achievements-amount {
    margin-top: 50px;
  }
}
