@import '../Common/Common';

.profile__events{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  max-height: 180px;
  overflow: scroll;
}

.profile__events::-webkit-scrollbar {
  width: 5px;
}

.profile__event{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 140px;
  background-color: rgba(0, 0, 0, 0.4);
  @extend %styled-radius;
  @extend %styled-border;
}

.profile__event-image{
  width: 100px;
  transition: all .2s ease-in-out;
  &:hover{
    transform: scale(1.3);
  }
}

.profile__event-title{
  font-size: var(--smalltext);
  text-align: center;
}