@import "../Common/Common";

.inventory__effects {
  display: flex;
  gap: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 80vw;
  max-height: 100px;
  overflow: scroll;
  padding: 15px;
  border-top: 1px solid white;
}

.inventory__effect-cell {
  overflow: visible;
  position: relative;
  @extend %button-tap;
}

.inventory__effect-image {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: $inventoryCellBackground;
}

.inventory__effect-value {
  color: white;
  position: absolute;
  top: 50px;
  left: 5px;
}

.inventory__effect-name {
  text-align: center;
  color: white;
  font-size: var(--tinytext);
}