@import "../Common/Common";

.inventory__effects {
  @extend %inventory-container;
}

.inventory__effect-cell {
  overflow: visible;
  position: relative;
  @extend %button-tap;
  &>.inventory__effect-image:hover{
    outline: 1px solid rgba(255, 255, 255, 0.5);
  }
}

.inventory__effect-image {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: $inventoryCellBackground;
}

.inventory__effect-value {
  position: absolute;
  top: 50px;
  left: 5px;
  @extend %menuFont;
}

.inventory__effect-name {
  text-align: center;
  @extend %menuFont;
  font-size: var(--tinytext);
}