@import "../Common/Common";

.inventory__effects {
  @extend %inventory-container;
}

.inventory__effect-cell {
  overflow: visible;
  position: relative;
  @extend %button-tap;
  &>.inventory__effect-image:hover{
    transform: scale(1.2);
  }
}

.inventory__effect-image {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 50px;
  // border: 1px solid rgba(255, 255, 255, 0.25);
  // background: $inventoryCellBackground;
  transition: all 0.1s ease-in-out;
}

.inventory__effect-value {
  position: absolute;
  text-shadow: 0 0 5px black, 1px 1px 5px black;
  box-shadow: 0 0 5px black;
  top: 45px;
  left: 0;
  border-radius: 100px;
  height: 20px;
  width: 20px;
  text-align: center;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.4);
}

.inventory__effect-name {
  text-align: center;
  font-size: var(--tinytext);
  position: relative;
  bottom: 5px;
}