@import '../Common/Common';

.inventory {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: 10;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  @extend %show;
}

.inventory__title{
  font-size: 38px;
  letter-spacing: 3px;
  text-shadow: 0 0 10px black;
  position: absolute;
  top: 15px;
  left: 0;
  width: 100vw;
  text-align: center;
}

.inventory__disabled {
  display: none;
}

.inventory__close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background-image: url('../../Media/Images/UI/icon_cross.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 45px;
  height: 45px;
  z-index: 5;
  @extend %button-tap;
}

.inventory__block-title{
  text-align: center;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 2px;
}
