@import "../Common/Common";

.inventory__items {
  @extend %inventory-container;
}

.inventory__item-cell {
  overflow: visible;
  position: relative;
  @extend %button-tap;
  &>.inventory__item-image:hover{
    outline: 1px solid rgba(255, 255, 255, 0.5);
  }
}

.inventory__item-image {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: $inventoryCellBackground;
}

.inventory__item-value {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 2px;
  right: 5px;
  text-shadow: 0 0 5px black, 1px 1px 5px black;
}

.inventory__item-name {
  position: absolute;
  text-align: left;
  bottom: 35px;
  text-shadow: 0 0 5px black, 1px 1px 5px black;
  left: 5px;
  font-size: var(--tinytext);
}