@import "../Common/Common";

.inventory__persons {
  @extend %inventory-container;
}

.inventory__person-cell {
  overflow: visible;
  position: relative;
  @extend %button-tap;
  &>.inventory__person-image:hover{
    outline: 1px solid rgba(255, 255, 255, 0.5);
  }
}

.inventory__person-image {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 50px;
  object-position: 0px -5px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: $inventoryCellBackground;
}

.inventory__person-value {
  position: absolute;
  text-shadow: 0 0 5px black, 1px 1px 5px black;
  box-shadow: 0 0 5px black;
  top: 50px;
  left: 5px;
  border-radius: 100px;
  height: 20px;
  width: 20px;
  text-align: center;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.4);
}

.inventory__person-name {
  max-width: 75px;
  text-align: center;
  font-size: var(--tinytext);
}