@import '../Common/Common';

.loading-screen {
  align-items: center;
  flex-direction: column;
  height: 100vh;
  justify-items: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  justify-content: center;
  display: none;
  overflow: hidden;
  @extend %show;
  z-index: 5;
}

.loading-screen__background-blurred-image {
  grid-row: 1;
  grid-column: 1;
  filter: blur(8px);
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.loading-screen__background-blurred-image-helper {
  grid-row: 1;
  grid-column: 1;
  filter: blur(8px);
  height: 100vh;
  width: 100vw;
  z-index: 2;
  transition: all .5s ease-in-out;
}

.loading-screen__background-image-wrapper {
  grid-row: 1;
  grid-column: 1;
  height: 100vh;
  width: auto;
  z-index: 2;
  position: relative;
}

.loading-screen__background-image-wrapper:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 0 20vh 7vh black;
  pointer-events: none;
  z-index: 3;
  animation: vignette infinite 10s ease-out;
}

@keyframes vignette {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loading-screen__background-image {
  height: 100%;
  width: auto;
}

.loading-screen__percent {
  margin-top: 50vh;
  grid-row: 1;
  grid-column: 1;
  z-index: 3;
}

.loading-screen__continue-button {
  margin-top: 55vh;
  grid-row: 1;
  grid-column: 1;
  z-index: 3;
  display: none;
  animation: blink 1s infinite ease-in-out;
}

@keyframes blink {
  0% {
    color: unset;
  }
  50% {
    color: transparent;
  }
  100% {
    color: unset;
  }
}

.loading-screen__logo{
  position: absolute;
  z-index: 3;
  width: 80%;
  max-width: 500px;
  height: auto;
  top: 6vh;
}
