@import '../Common/Common';

.loading-screen {
  align-items: center;
  flex-direction: column;
  height: 100vh;
  justify-items: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  justify-content: center;
  display: none;
  overflow: hidden;
  @extend %show;
  z-index: 5;
}

.loading-screen__background-blurred-image {
  grid-row: 1;
  grid-column: 1;
  filter: blur(8px);
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.loading-screen__background-blurred-image-helper {
  grid-row: 1;
  grid-column: 1;
  filter: blur(8px);
  height: 100vh;
  width: 100vw;
  z-index: 2;
  transition: all .5s ease-in-out;
}

.loading-screen__background-image-wrapper {
  grid-row: 1;
  grid-column: 1;
  height: 100vh;
  width: auto;
  z-index: 2;
  position: relative;
}

.loading-screen__background-image-wrapper:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 0 20vh 7vh black;
  pointer-events: none;
  z-index: 3;
  animation: vignette infinite 10s ease-out;
}

@keyframes vignette {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loading-screen__background-image {
  height: 100%;
  width: auto;
  @extend %styled-background;
}

.loading-screen__percent {
  margin-top: 50vh;
  grid-row: 1;
  grid-column: 1;
  z-index: 3;
}

.loading-screen__continue-button {
  margin-top: 55vh;
  grid-row: 1;
  grid-column: 1;
  z-index: 3;
  display: none;
  color: transparent;
  // animation: blink 1s infinite ease-in-out;
}

@keyframes blink {
  0% {
    color: unset;
  }
  50% {
    color: transparent;
  }
  100% {
    color: unset;
  }
}

.loading-screen__logo{
  position: absolute;
  z-index: 3;
  width: 80%;
  max-width: 500px;
  height: auto;
  top: 6vh;
  animation: goUp 3s forwards;
  animation-delay: 6s;
  animation-iteration-count: 1;
  opacity: 0;
}

@keyframes goUp {
  0%{
    transform: translateY(50%);
    opacity: 0;
  }

  100%{
    transform: translateY(0%);
    opacity: 1;
  }
}

.loading-screen__tapImage{
  position: absolute;
  width: 64px;
  height: 64px;
  padding-top: 25px;
  opacity: 0;
  border: 0 none;
  text-decoration: none;
  background-image: url("../../Media/Images/UI/icon_pointer.svg");
  background-position: center, center;
  background-size: 60px, 60px;
  background-repeat: no-repeat, no-repeat;
  animation: pointerTap 1.7s infinite ease-out;
}

.loading-screen__tapImage_start{
  animation-delay: 10s;
}

.loading-screen__tapImage_after{
  animation-delay: 3s;
}

@keyframes pointerTap {
  0%{
    transform: translateX(0px);
    opacity: 0;
    background-image: url("../../Media/Images/UI/icon_pointer.svg");
  }
  40%{
    transform: translateX(-25px) translateY(-25px);
    opacity: 1;
    background-image: url("../../Media/Images/UI/icon_pointer.svg");
  }
  50%{
    transform: translateX(-45px) translateY(-25px) rotate(-10deg) scale(90%);
    opacity: 1;
    background-image: url("../../Media/Images/UI/icon_pointer.svg"), url("../../Media/Images/UI/icon_pointer_tapped.svg");
  }
  60%{
    transform: translateX(-25px) translateY(-25px);
    opacity: 1;
    background-image: url("../../Media/Images/UI/icon_pointer.svg");
  }
  70%{
    transform: translateX(0px);
    opacity: 0;
    background-image: url("../../Media/Images/UI/icon_pointer.svg");
  }
  80%{
    transform: translateX(0px);
    opacity: 0;
    background-image: url("../../Media/Images/UI/icon_pointer.svg");
  }
  100%{
    transform: translateX(0px);
    opacity: 0;
    background-image: url("../../Media/Images/UI/icon_pointer.svg");
  }
}