@font-face {
  font-family: 'Courier New';
  src: url('./CourierNewPSMT.eot');
  src:
    url('./CourierNewPSMT.eot?#iefix') format('embedded-opentype'),
    url('./CourierNewPSMT.woff') format('woff'),
    url('./CourierNewPSMT.ttf') format('truetype');
  font-style: normal;
}
