@font-face {
  font-family: 'Century Gothic Regular';
  src: url('./CenturyGothic.eot');
  src: url('./CenturyGothic.eot?#iefix') format('embedded-opentype'),
  url('./CenturyGothic.woff') format('woff'),
  url('./CenturyGothic.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Courier New';
  src: url('./CourierNewPSMT.eot');
  src: url('./CourierNewPSMT.eot?#iefix') format('embedded-opentype'),
  url('./CourierNewPSMT.woff') format('woff'),
  url('./CourierNewPSMT.ttf') format('truetype');
  font-style: normal;
}