@import "../Common/Common";

.okmessage{
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.okmessage__container{
  display: none;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  flex-direction: column;
  filter: blur(15px);
  transition: all 1s ease-in-out;
}

.okmessage-image{
  grid-column: 1;
  grid-row: 1;
  object-fit: cover;
  align-self: center;
  justify-self: center;
  height: 100%;
  max-height: 500px;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.okmessage-button{
  justify-self: center;
  align-self: flex-start;
  grid-column: 1;
  grid-row: 2;
  padding: 10px;
  margin-top: 5px;
  @extend %button-tap;
  @extend %slide-container;
  z-index: 12;
  width: 85%;
  max-width: 380px;
  background-color: rgba(140, 140, 140);
}

.okmessage__container_show{
  opacity: 1;
  visibility: visible;
  filter: blur(0);
}

.okmessage_show{
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.91);
}
