@import "../Common/Common";

.okmessage{
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.okmessage__container{
  display: none;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  flex-direction: column;
  filter: blur(15px);
  transition: all 1s ease-in-out;
}

.okmessage-image{
  grid-column: 1;
  grid-row: 1;
  object-fit: cover;
  align-self: center;
  justify-self: center;
  height: 100%;
  max-height: 500px;
  width: 100%;
  max-width: 400px;
  margin: auto;
  z-index: 12;
  filter: brightness(0%);
  animation: okmessage-imageINTRO 1s ease-in-out forwards 1.2s;
}

@keyframes okmessage-imageINTRO {
  0%{
    filter: brightness(0%);
  }

  100%{
    filter: brightness(100%);
  }
}

.okmessage-imageBG{
  grid-column: 1;
  grid-row: 1;
  object-fit: cover;
  align-self: center;
  justify-self: center;
  height: 100%;
  max-height: 400px;
  width: 100%;
  max-width: 400px;
  margin: auto;
  background: radial-gradient(closest-side, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
  animation: okmessage-imageBGANIM 10s ease-in-out infinite;
  z-index: 11;
  opacity: 0.8;
}

@keyframes okmessage-imageBGANIM{
  0%{
    opacity: 0.8;
  }
  25%{
    opacity: 0.5;
  }
  50%{
    opacity: 0.6;
  }
  75%{
    opacity: 0.4;
  }
  100%{
    opacity: 0.8;
  }
}



.okmessage-button{
  justify-self: center;
  align-self: flex-start;
  grid-column: 1;
  grid-row: 2;
  padding: 10px;
  margin-top: 5px;
  @extend %button-tap;
  @extend %slide-container;
  z-index: 12;
  width: 85%;
  max-width: 380px;
  background-color: rgba(140, 140, 140);
}

.okmessage__container_show{
  opacity: 1;
  visibility: visible;
  filter: blur(0);
}

.okmessage_show{
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.91);
}
