@import '../Common/Common';

.menu-toolbar {
  position: fixed;
  @extend %liquid-glass-bg-r;

  @container style(--desktopmode: false){
    left: 10px;
    bottom: 10px;
    right: 10px;
    flex-direction: row;
    padding: 5px;
    background: rgba(0, 76, 89, 0.5);
    @extend %styled-radius;
    border-radius: 50px;
    justify-content: space-evenly;
    gap: 5px;
  }

  @container style(--desktopmode: true){
    left: -10px;
    bottom: 200px;
    top: 200px;
    flex-direction: column;
    padding: 10px 10px 15px 15px;
    justify-content: center;
    gap: 15px;
    @extend %styled-radius;
    background: rgba(0, 76, 89, 0.70);
  }

  display: none;
  /*box-shadow: inset 2px 5px 3px -3px rgb(0 0 0 / 75%), -1px 0 2px 1px rgb(0 0 0 / 75%);*/
  z-index: 3;
  color: white;

  @extend %show;
}

.menu-toolbar__item {

  @container style(--desktopmode: true){
    flex-direction: row;
    @extend %styled-background;
    @extend %styled-border;
    @extend %styled-radius;
    justify-content: left;
    align-items: start;
  }

  @container style(--desktopmode: false){
    flex-direction: column;
    box-shadow: none;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 70px;
    height: 20px;
    border-radius: 50px;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 5px;
  @extend %button-tap;
  transition: background-color 0.5s ease-in-out;
}

.menu-toolbar__item > img {

  @container style(--desktopmode: true){

  }
  max-width: 45px;
  width: 40px;
  height: 40px;
  align-self: center;
  object-fit: contain;

  @container style(--desktopmode: false){
    width: 20px;
    height: 20px;
  }
}

.menu-toolbar__item > p {

  @container style(--desktopmode: true){
    font-size: var(--bigtext);
  }

  @container style(--desktopmode: false){
    font-size: var(--tinytext);
    // display: none;
    padding: 0;
    margin: 0;
  }
  margin: 5px;
}

.button-bright {
  // filter: drop-shadow(0 0 5px white);
  background: rgba(0, 219, 255, 0.15);

  &>img {
    animation: littlejump 0.5s ease-in-out;
    animation-iteration-count: 1;
  }
}

@keyframes littlejump {
  0%{
    transform: translateY(0);
  }

  25%{
    transform: translateY(-4px);
  }

  50%{
    transform: translateY(0);
  }

  75%{
    transform: translateY(-2px);
  }

  100%{
    transform: translateY(0);
  }
}
