@import '../Common/Common';

.menu-toolbar {
  position: fixed;

  @container style(--desktopmode: false){
    left: 10px;
    bottom: 10px;
    right: 10px;
    flex-direction: row;
    padding: 5px;
    @extend %styled-background;
    @extend %styled-radius;
    @extend %styled-border;
    justify-content: space-evenly;
  }

  @container style(--desktopmode: true){
    left: -10px;
    bottom: 200px;
    top: 200px;
    flex-direction: column;
    padding: 10px 10px 15px 15px;
    justify-content: center;
    gap: 15px;
    @extend %styled-radius;
  }

  display: none;
  /*box-shadow: inset 2px 5px 3px -3px rgb(0 0 0 / 75%), -1px 0 2px 1px rgb(0 0 0 / 75%);*/
  z-index: 3;
  color: white;

  @extend %show;
}

.menu-toolbar__item {

  @container style(--desktopmode: true){
    flex-direction: row;
    @extend %styled-background;
    @extend %styled-border;
    @extend %styled-radius;
    justify-content: left;
    align-items: start;
  }

  @container style(--desktopmode: false){
    flex-direction: column;
    box-shadow: none;
    justify-content: center;
    align-items: center;
    background: transparent;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0 8px 5px;
  gap: 10px;
  @extend %button-tap;
  transition: filter 0.5s ease-in-out;
}

.menu-toolbar__item > img {
  max-width: 45px;
  width: 40px;
  align-self: center;
}

.menu-toolbar__item > p {

  @container style(--desktopmode: true){
    font-size: var(--bigtext);
  }

  @container style(--desktopmode: false){
    font-size: var(--tinytext);
    display: none;
  }
  margin: 5px;
}
