@import '../Common/Common';

.menu-toolbar {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  /*box-shadow: inset 2px 5px 3px -3px rgb(0 0 0 / 75%), -1px 0 2px 1px rgb(0 0 0 / 75%);*/
  z-index: 3;
  color: white;
  @extend %styled-background;
  @extend %show;
}

.menu-toolbar__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
  gap: 10px;
  @extend %button-tap;
  transition: filter 0.5s ease-in-out;
}

.menu-toolbar__item > img {
  max-width: 50px;
  width: 45px;
}

.menu-toolbar__item > p {
  font-size: var(--tinytext);
}
