@import '../Common/Common';

.achievements {
  display: none;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  @extend %show;
}

.achievements__back-button {
  top: 15px;
  left: 15px;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
  position: fixed;
  background-image: url(../../Images/UI/icon_back.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  background-color: $additionalColor;
  z-index: 2;
  @extend %button-tap;
  @extend %styled-border;
}

.achievements_block {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 10px;
  margin: 0 auto;
  overflow: hidden;
  overflow-y: visible;
}

.achievements__menu{
  padding: 5px 0;
  @extend %styled-background;
  @extend %styled-border;
  @extend %styled-radius
}

.achievements__amount {
  text-align: center;
  padding: 0 0 5px 0;
  margin-bottom: 5px;
  border-bottom: 5px double rgba(255, 255, 255, 0.2);
}

.achievements__buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow: scroll;
  padding-bottom: 5px;
}

.achievements__buttons::-webkit-scrollbar:horizontal {
  height: 8px;
}

.achievements__button {
  font-size: var(--smalltext);
  min-width: 120px;
  padding: 5px;
  @extend %button-tap;
  @extend %styled-background;
  @extend %styled-border;
  @extend %styled-radius;
}

.achievements__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.achievement {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content min-content;
  padding: 10px;
  margin: 10px;
  max-width: 380px;
  position: relative;
  overflow: hidden;
  @extend %styled-border;
  @extend %show;
  @extend %styled-radius;
}

.achievement::before {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 0;
  right: 0;
  content: '';
  width: 50px;
  height: 50px;
  box-shadow: inset 0 0 5px 1px rgb(0, 0, 0);
  z-index: 3;
  @extend %styled-radius;
}

.achievement:last-of-type {
  margin-bottom: 90px;
}

.achievement__image {
  width: 50px;
  height: 50px;
  margin: 0 5px 0 0;
  @extend %styled-radius;
  object-position: top;
  object-fit: cover;
  grid-row: 1/2;
}

.achievement__title {
  margin: auto 0 auto 5px;
}

.achievement__text {
  grid-column: 1/-1;
  border-top: 1px white solid;
  padding: 10px 5px 0 5px;
  margin: 10px 0 0 0;
  width: 80vw;
  max-width: 360px;
}

.achievement__completion {
  grid-column: 1/-1;
  border-top: 1px white solid;
  padding: 10px 5px 0 5px;
  margin: 10px 0 0 0;
  width: 80vw;
  max-width: 360px;
  font-size: var(--tinytext);
}
