@import "../Common/Common";

%anim{
  transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
}

.wardrobe{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: repeat(2, min-content);
  @extend %show;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(15px);
  z-index: 11;
}

.wardrobe__container{
  grid-template-columns: repeat(4, min-content);
  grid-template-rows: repeat(2, min-content);
  display: grid;
  justify-content: center;
  align-items: center;
}

.wardrobe__left-button{
  grid-column: 1;
  justify-self: left;
  grid-row: 2;
  width: 50px;
  height: 50px;
  background-image: url("../../Images/UI/icon_go-left.svg");
  background-position: center;
  background-size: cover;
  align-self: center;
  z-index: 13;
  padding-left: 50px;
  @extend %button-tap;
}

.wardrobe__image{
  max-width: 280px;
  grid-column: 2;
  grid-row: 2;
  border-radius: 10px;
  background: $inventoryCellBackground;
  backdrop-filter: blur(15px);
  @extend %anim;
  z-index: 12;
}

.wardrobe__right-button{
  grid-column: 3;
  grid-row: 2;
  justify-self: right;
  width: 50px;
  height: 50px;
  background-image: url("../../Images/UI/icon_go-right.svg");
  background-position: center;
  background-size: cover;
  align-self: center;
  z-index: 13;
  @extend %button-tap;
}

.wardrobe__title{
  grid-column: 2;
  grid-row: 2;
  font-weight: 600;
  text-align: center;
  justify-self: center;
  align-self: flex-start;
  padding-top: 3px;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0 0;
  backdrop-filter: blur(15px);
  z-index: 12;
  @extend %anim;
}

.wardrobe__description{
  grid-column: 2;
  grid-row: 2/3;
  text-align: left;
  align-self: flex-end;
  padding: 5px 5px;
  z-index: 12;
  border-top: 1px solid white;
  font-size: var(--tinytext);
  border-radius: 0 0 10px 10px;
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.3);
  @extend %anim;
}

.wardrobe__confirm-button{
  grid-column: 2;
  grid-row: 4;
  align-self: flex-start;
  padding: 10px;
  margin-top: 5px;
  @extend %button-tap;
  @extend %slide-container;
  @extend %anim;
  z-index: 12;
  backdrop-filter: blur(15px);
  background-color: rgba(140, 140, 140);
}

.wardrobe__element_hide{
  opacity: 0;
  visibility: hidden;
}