@use '../Common/Common';
@import '../Common/Common';

.chapters {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  @extend %show;
}

.chapters__back-button {
  top: 15px;
  left: 15px;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
  position: fixed;
  background-image: url(../../Images/UI/icon_back.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  background-color: Common.$additionalColor;
  z-index: 2;
  @extend %button-tap;
  @extend %styled-border;
}

.chapters__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  overflow: hidden;
  overflow-y: scroll;
  z-index: 1;
}

.chapter {
  padding: 10px;
  max-width: 235px;
  @extend %styled-radius;
  @extend %button-tap;
  @extend %styled-border;
}

.chapter:first-of-type {
  margin-top: 25px;
}

.chapter:last-of-type {
  margin-bottom: 125px;
}

.chapter__container {
  z-index: 3;
  display: grid;
  align-items: center;
  @extend %styled-radius;
  box-shadow: 0 0 10px black;
  width: 235px;
  max-height: 235px;
  overflow: hidden;
}

.chapter__image {
  width: 235px;
  z-index: 1;
  grid-column: 1;
  grid-row: 1;
  background-color: rgba(0, 0, 0, 0.7);
  @extend %styled-radius;
}

.chapter__name {
  position: absolute;
  width: 235px;
  text-shadow:
    0 0 15px rgb(0, 0, 0),
    0 0 10px rgb(0, 0, 0);
  font-size: var(--bigtext);
  grid-column: 1;
  grid-row: 1;
  z-index: 3;
  text-align: center;
  align-self: end;
  margin: 0 0 15px 0;
  background-color: rgba(0, 0, 0, 0.3);
}
