@import "../Common/Common";

.mini-game-memory{
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(5px);
  z-index: 50;
  @extend %show;
}

.mini-game-memory__container{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
  margin: 25px;
  padding: 25px 15px;
}

.mini-game-memory__button{
  width: 55px;
  height: 55px;
  transform: rotate(45deg);
  transition: all .3s ease-in-out;
  box-shadow: inset 2px 2px 7px white, inset -2px -2px 7px black, 0 0 25px rgba(255, 255, 255, 0.25);
  border-radius: 3px;
}

.mini-game-memory__button_highlighted{
  box-shadow: inset 2px 2px 7px white, inset -2px -2px 7px white, white 0 0 15px;
}

.mini-game-memory__button_true{
  box-shadow: inset 2px 2px 7px white, inset -2px -2px 7px black, green 0 0 15px;
}

.mini-game-memory__button_false{
  box-shadow: inset 2px 2px 7px white, inset -2px -2px 7px black, red 0 0 15px;
}

.mini-game-memory__info-container{
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  @extend %styled-border;
  @extend  %styled-background;
  @extend %styled-radius;
}

.mini-game-memory__lives-info{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mini-game-memory__wins-info{
  display: flex;
  align-items: center;
  justify-content: center;
}