@import "../Common/Common";

.mini-game-memory {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.mini-game-memory_show{
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.91);
}

#MGM-game-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  position: relative;
}

#MGM-stats {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(0,0,0,0.6);
  color: white;
  padding: 15px;
  border-radius: 8px;
}

.MGM-grid {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  gap: 20px;
}

.MGM-tile {
  width: 150px;
  height: 150px;
  cursor: pointer;
  border: 4px solid transparent;
  transition: 0.2s;
  @extend %button-tap;
}

.MGM-tile.MGM-active { filter: drop-shadow(0 0 5px yellow); transform: scale(0.95); }

.MGM-grid.MGM-error .MGM-tile { filter: drop-shadow(0 0 5px red) !important; }

.MGM-grid.MGM-correct .MGM-tile { filter: drop-shadow(0 0 5px lime)  !important; }