%show {
  opacity: 0;
  visibility: hidden;
  animation: fade-in 0.5s ease 0.2s 1 normal forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

.fade-in-left {
  animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes fade-in-left {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade-in-left-left {
  animation: fade-in-left-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes fade-in-left-left {
  0% {
    transform: translateX(-80px);
    opacity: 0;
  }
  100% {
    transform: translateX(-25%);
    opacity: 1;
  }
}

.fade-in-left-right {
  animation: fade-in-left-right 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes fade-in-left-right {
  0% {
    transform: translateX(-50px) scaleX(-1);
    opacity: 0;
  }
  100% {
    transform: scaleX(-1) translateX(-30%);
    opacity: 1;
  }
}

.pulsating-white {
  animation: pulsating-white 1s ease-in-out infinite;
}

@keyframes pulsating-white {
  0%{
    filter: drop-shadow(0 0 5px white);
  }
  50%{
    filter: drop-shadow(0 0 0 white);
  }
  100%{
    filter: drop-shadow(0 0 5px white);
  }
}

.debris{
  position: absolute;
  opacity: 1;
  visibility: visible;
  z-index: 15;
  user-select: none;
}

.pulsating-push{
  animation: pulsating-push 2s ease-in-out infinite;
}

@keyframes pulsating-push {
  0% {
    transform: scale(1);
  }
  74% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.0)
  }
  80% {
    transform: scale(1.1)
  }
  90% {
    transform: scale(1.0)
  }
  95% {
    transform: scale(1.1)
  }
}

.shimmering_image {
  display: inline-block;
  mask: linear-gradient(-60deg, #000 30%, rgba(0, 0, 0, 0.51), #000 70%) right/350% 100%;
  opacity: 1;
  animation: shimmerimage 3s infinite;
}

@keyframes shimmerimage {
  100% {
    mask-position: left
  }
}

.shimmering_text {
  background: linear-gradient(to right, #ccc 0%, #fff 50%, #ccc 100%);
  background-size: 200% 100%;
  -webkit-background-clip: text; /* For WebKit browsers */
  background-clip: text;
  color: transparent;
  animation: shimmertext 3s infinite linear;
}

@keyframes shimmertext {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}