.show{
  display: flex;
  opacity: 0;
  visibility: hidden;
  animation: fade-in 0.5s ease 0.5s .5 normal forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}
