.button-active {
  box-shadow: inset 0 0 5px white;
}

.button-bright {
  filter: drop-shadow(0 0 5px white);
}

%button-tap {
  transition: transform 0.05s ease-in-out;

  @container style(--desktopmode: true){
    cursor: var(--cursorpointer), auto;
  }

  &:active {
    transform: scale(95%);
  }
}
