$mainColor: rgb(0, 76, 89);

$additionalColor: rgb(20, 52, 56);

$specialColor: rgb(114, 136, 167);

$inventoryInfoBackground: radial-gradient(circle, rgba(0,0,0,0.2) 0%, rgba(255,255,255,0.3) 100%);

$inventoryCellBackground: linear-gradient(135deg, rgba(0,0,0,0.1) 0%, rgba(255,255,255,0.5) 35%, rgba(0,0,0,0.1) 100%);

/*

NEW YEAR COLORS

$mainColor: rgba(0, 76, 89);

$additionalColor: rgb(67, 107, 112);

*/

/*

OLD COLORS

$mainColor: rgb(247, 190, 149);

$additionalColor: rgb(39, 51, 69);

*/