@use './Colors';

%styled-background {
  background: -webkit-linear-gradient(135deg, Colors.$mainColor, Colors.$additionalColor);
}

%styled-border {
  box-shadow: inset 0 0 5px 1px rgb(0 0 0 / 77%);
}

%styled-radius {
  border-radius: 10px;
}

%inventory-container{
  display: flex;
  gap: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  height: 100px;
  max-height: 100px;
  overflow: scroll;
  padding: 5px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: rgba(0, 0, 0, 0.3);
  @extend %styled-border;
}

%slide-container{
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.4) 80%, rgba(0, 0, 0, 0.6) 100%);
  border-radius: 10px;
  backdrop-filter: blur(100px);
  &:before{
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 3px rgba(0, 0, 0, 0.2) solid;
  }
}
