.tab__title {
  font-size: xx-large;
  position: sticky;
  margin: 10px 0 10px;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  height: 50px;
  background: rgba(0, 76, 89, 0.5);
  border-radius: 50px;
  @extend %liquid-glass-bg-r;
  width: 100%;
  z-index: 2;
  align-self: center;
  max-width: 400px;


}

@media screen and (max-width: 530px) {
  .tab__title {
    max-width: 70%;
  }
}
