%menuFont{
  font-family: "Microsoft YaHei", sans-serif;
  color: white;
  word-spacing: -3 px;
}

.tab__title{
  font-size: xx-large;
  margin: 15px 0 10px;
  padding: 0;
  text-align: center;
  @extend %menuFont;
}