.story-Immortals {
  background: -webkit-linear-gradient(135deg, rgb(24, 30, 111), rgb(149, 73, 87)
  );
}

.story-Aurora {
  background: -webkit-linear-gradient(135deg, rgb(0 96 119), rgb(56 20 20));
}

.story-AEP {
  background: -webkit-linear-gradient(135deg, rgb(119 0 87), rgb(20 21 56));
}

.story-ROR {
  background: -webkit-linear-gradient(135deg, rgba(24, 119, 0), rgba(20, 56, 24)
  );
}

.story-TDP {
  background: -webkit-linear-gradient(135deg, rgba(24, 119, 0), rgba(20, 56, 24)
  );
}

.story-FOF {
  background: -webkit-linear-gradient(135deg, rgb(0, 119, 109), rgb(32, 20, 86));
}

.story-UL {
  background: -webkit-linear-gradient(135deg, rgb(131, 0, 84), rgb(0, 75, 112));
}

.story-MM {
  background: -webkit-linear-gradient(135deg, rgb(0, 0, 0), rgb(112, 13, 0));
}

.story-Katarina {
  background: -webkit-linear-gradient(135deg, rgb(16, 28, 155), rgb(211, 85, 109)
  );
}

.story-UA {
  background: -webkit-linear-gradient(135deg, rgb(213, 4, 196), rgb(45, 208, 213)
  );
}

.story-OTV {
  background: -webkit-linear-gradient(135deg, rgb(96, 27, 90), rgb(145, 24, 60)
  );
}

.story-HF {
  background: -webkit-linear-gradient(135deg, rgb(57, 57, 57), rgb(0, 0, 0)
  );
}

.story-PFT {
  background: -webkit-linear-gradient(135deg, rgb(189, 189, 189), rgb(110, 0, 0)
  );
}

.story-ITLH {
  background: -webkit-linear-gradient(135deg, rgb(24, 30, 111), rgb(149, 73, 87)
  );
}
