@use '../Common/Common';
@import '../Common/Common';

.parts {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  @extend %show;
}

.parts__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  overflow: hidden;
  overflow-y: scroll;
  z-index: 1;
}

.parts__back-button {
  top: 15px;
  left: 15px;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
  position: fixed;
  background-image: url(../../Media/Images/UI/icon_back.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  background-color: Common.$additionalColor;
  z-index: 2;
  @extend %button-tap;
  @extend %styled-border;
}

.part {
  padding: 10px;
  width: 235px;
  height: 235px;
  @extend %styled-background;
  @extend %styled-radius;
  @extend %button-tap;
  @extend %styled-border;
}

.part:first-of-type {
  margin-top: 25px;
}

.part:last-of-type {
  margin-bottom: 125px;
}

.part__container {
  position: relative;
  z-index: 3;
  display: grid;
  align-items: center;
  @extend %styled-radius;
  box-shadow: 0 0 10px black;
  width: 235px;
  max-height: 235px;
  overflow: hidden;
}

.part__image {
  width: 235px;
  height: 235px;
  object-fit: cover;
  object-position: center;
  z-index: 1;
  grid-column: 1;
  grid-row: 1;
  background-color: rgba(0, 0, 0, 0.7);
}

.part__name {
  position: absolute;
  width: 235px;
  text-shadow: 0 0 15px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0);
  font-size: var(--bigtext);
  grid-column: 1;
  grid-row: 1;
  z-index: 3;
  text-align: center;
  bottom: 15px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

.part__tick{
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 25;
}