@import '../Common/Common';
@import './Slide';

.slide__buttons {
  margin-top: 15px;
  grid-column: 1;
  grid-row: 3;
  z-index: 2;
  display: flex;
  flex-direction: column;
  height: max-content;
  gap: 10px;
}

.slide__button {
  grid-column: 1;
  color: white;
  max-width: 400px;
  width: 90vw;
  height: 40px;
  display: flex;
  @extend %styled-border;
  @extend %button-tap;
  @extend %show;
  @extend %slide-container;
  border-radius: 10px;
  animation: fade-in 0.7s ease 0.65s 1 normal forwards;
  p{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
