.console{
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.15);
  top: 0;
  right: 0;
  left: 0;
  z-index: 15;
}

.console__input{
  width: 100%;
  color: white;
  background-color: transparent;
  height: 25px;
  border: 0;
  outline: 0;
  font-family: "Lucida Console", "Courier New", monospace;
  padding: 0 0 0 5px;
}
.console__input:focus{
  border: 0;
  outline: 0;
}

.console__slide-id{
  font-family: "Lucida Console", "Courier New", monospace;
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  right: 5px;
  height: 25px;
  text-align: right;
}


.console_activated{
  display: block;
}