@import url(./Effects/blackAndWhite.scss);
@import url(./Effects/blackFlash.scss);
@import url(./Effects/fog.scss);
@import url(./Effects/lightning.scss);
@import url(./Effects/purpleFlash.scss);
@import url(./Effects/redFlash.scss);
@import url(./Effects/redPulsation.scss);
@import url(./Effects/VHS.scss);
@import url(./Effects/whiteFlash.scss);
@import url(./Effects/yellowLights.scss);
@import url(./Effects/snow.scss);
@import url(./Effects/stars.scss);

.image_silhouette{
  filter: brightness(0) drop-shadow(5px -2px 5px black);
}

.image_ghost{
  filter: opacity(50%) url(#naturalShadow);
}

.image_blurred{
  filter: blur(20px);
}

@keyframes show-hide {
  0%{
    opacity: 0;
    visibility: hidden;
  }
  50%{
    opacity: 1;
    visibility: visible;
  }
  100%{
    opacity: 0;
    visibility: hidden;
  }
}

.parallaxLeft{
  transform: translate(25%,0);
}

.parallaxRight{
  transform: translate(-25%,0);
}



@keyframes bgscroll {
  100% {
    background-position: 0% 100%;
  }
}
