.slide_redFlash:after{
  position: absolute;
  pointer-events: none;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 0 50vh 5px #8d0000;
  backdrop-filter: brightness(1.2);
  z-index: 5;
  animation: show-hide ease-in-out 2s;
}

.slide_whiteFlash:after{
  position: absolute;
  pointer-events: none;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  box-shadow: inset 0 0 50vh 1px #ffffff;
  backdrop-filter: brightness(1.4);
  animation: show-hide ease-in-out 2s;
}

.slide_purpleFlash:after{
  position: absolute;
  pointer-events: none;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  box-shadow: inset 0 0 50vh 1px #6e008d;
  backdrop-filter: brightness(1.4);
  animation: show-hide ease-in-out 2s;
}

.slide_blackFlash:after{
  position: absolute;
  pointer-events: none;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  box-shadow: inset 0 0 50vh 1px #000000;
  animation: show-hide ease-in-out 2s;
}

.slide_redPulseInfinite:after{
  position: absolute;
  pointer-events: none;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  animation: pulse-red ease-in-out 2.5s infinite;
}

.slide_disco-1:after{
  position: absolute;
  pointer-events: none;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: hue-rotate(90deg);
  z-index: 5;
  animation: show-hide ease-in-out 2s;
}

.slide_disco-2:after{
  position: absolute;
  pointer-events: none;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: hue-rotate(180deg);
  z-index: 5;
  animation: show-hide ease-in-out 2s;
}

.slide_disco-3:after{
  position: absolute;
  pointer-events: none;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: hue-rotate(270deg);
  z-index: 5;
  animation: show-hide ease-in-out 2s;
}

@keyframes pulse-red {
  0%{
    box-shadow: none;
  }

  50%{
    box-shadow: inset 0 0 50vh 1px #8d0000;
  }

  100%{
    box-shadow: none;
  }
}

.image_silhouette{
  filter: brightness(0) drop-shadow(5px -2px 5px black);
}

.image_ghost{
  filter: opacity(50%) url(#naturalShadow);
}

.image_blurred{
  filter: blur(20px);
}

@keyframes show-hide {
  0%{
    opacity: 0;
    visibility: hidden;
  }
  50%{
    opacity: 1;
    visibility: visible;
  }
  100%{
    opacity: 0;
    visibility: hidden;
  }
}

.parallaxLeft{
  transform: translate(25%,0);
}

.parallaxRight{
  transform: translate(-25%,0);
}

.slide_vhs:after{
  position: absolute;
  pointer-events: none;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background-image: linear-gradient(
                  rgba(17, 20, 53, 0.1),
                  rgba(118, 255, 241, 0.1)
  );
  background-repeat: repeat;
  background-size: 100vw 10vh;
  animation: show-hide ease-in-out 2s, bgscroll 2s linear infinite;
}

@keyframes bgscroll {
  100% {
    background-position: 0% 100%;
  }
}
