@import '../Common/Common';

$maxWidthWide: 300px;
$maxHeightWide: 700px;

$maxWidthShort: 250px;
$maxHeightShort: 583px;

%imageDefaultValues{
  grid-column: 1;
  grid-row: 1;
  filter: drop-shadow(5px 3px 2px rgba(0, 0, 0, 0.65));
  transition: opacity 0.5s ease-in-out;
  image-rendering: smooth;
}

.slide__image-container {
  display: grid;
  grid-row: 1;
  grid-column: 1;
  z-index: 2;
  height: min-content;
  align-items: center;
  justify-content: center;
}

.slide__imageMiddle {
  @extend %imageDefaultValues;
}

.slide__imageLeft {
  @extend %imageDefaultValues;
  transform: translateX(-15%);
}

.slide__imageRight {
  @extend %imageDefaultValues;
  transform: scaleX(-1) translateX(-25%);
}

.slide__imageFront {
  mask-image: linear-gradient(90deg, rgba(0,0,0,0) 1%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 95%, rgba(0,0,0,0) 99%);
  @extend %imageDefaultValues;
}

.slide__border {
  @extend %imageDefaultValues;
  transform: scaleX(1.5);
}

@media (max-width: 5000px) {
  .slide__image-container {
    max-width: $maxWidthWide;
    max-height: $maxHeightWide;
  }
  .slide__imageMiddle {
    max-width: $maxWidthWide;
    max-height: $maxHeightWide;
  }
  .slide__imageLeft {
    max-width: $maxWidthWide;
    max-height: $maxHeightWide;
  }
  .slide__imageRight {
    max-width: $maxWidthWide;
    max-height: $maxHeightWide;
  }
  .slide__imageFront {
    max-width: $maxWidthWide;
    max-height: $maxHeightWide;
  }
  .slide__border {
    max-width: $maxWidthWide;
    max-height: $maxHeightWide;
  }
}

@media (max-width: 375px) {
  .slide__image-container {
    max-width: $maxWidthShort;
    max-height: $maxHeightShort;
  }
  .slide__imageMiddle {
    max-width: $maxWidthShort;
    max-height: $maxHeightShort;
  }
  .slide__imageLeft {
    max-width: $maxWidthShort;
    max-height: $maxHeightShort;
  }
  .slide__imageRight {
    max-width: $maxWidthShort;
    max-height: $maxHeightShort;
  }
  .slide__imageFront {
    max-width: $maxWidthShort;
    max-height: $maxHeightShort;
  }
  .slide__border {
    max-width: $maxWidthShort;
    max-height: $maxHeightShort;
  }
}
