@import '../Common/Common';

.slide {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  margin: 0 auto;
  height: 100vh;
  max-width: 500px;
  justify-items: center;
  overflow: hidden;
  position: absolute;
  grid-template-rows: repeat(3, min-content);
}

.slide__background {
  grid-column: 1;
  grid-row: 1/4;
  position: absolute;
  height: 100vh;
  justify-self: center;
  transition: transform 1.2s 0.3s ease-in-out;
}



.slide__backgroundHelper {
  grid-column: 1;
  grid-row: 1/4;
  position: absolute;
  height: 100vh;
  margin: 0 auto;
  width: auto;
  transition: all .5s ease-in-out;
  pointer-events: none;
}

.slide__background_hide {
  opacity: 0;
  visibility: hidden;
}
