@import '../Common/Common';

$maxWidth: 300px;
$maxHeight: 700px;

.slide{
  left: 0;
  top: 0;
  display: none;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  justify-items: center;
  overflow: hidden;
  position: absolute;
  grid-template-rows: repeat(3, min-content);
  @extend %show;
}

.slide__image-container{
  display: grid;
  max-width: $maxWidth;
  max-height: $maxHeight;
  grid-row: 1;
  grid-column: 1;
  z-index: 2;
  height: min-content;
}

.slide__imageMiddle{
  grid-column: 1;
  grid-row: 1;
  max-width: $maxWidth;
  max-height: $maxHeight;
}

.slide__imageLeft{
  grid-column: 1;
  grid-row: 1;
  max-width: $maxWidth;
  max-height: $maxHeight;
  transform: translateX(-25%);
}

.slide__imageRight{
  grid-column: 1;
  grid-row: 1;
  max-width: $maxWidth;
  max-height: $maxHeight;
  transform: scaleX(-1) translateX(-25%);
}

.slide__imageFront{
  grid-column: 1;
  grid-row: 1;
  max-width: $maxWidth;
  max-height: $maxHeight;
}

.slide__border{
  grid-column: 1;
  grid-row: 1;
  max-width: $maxWidth;
  max-height: $maxHeight;
  transform: scaleX(1.2);
  @extend %show;
}

.slide__text{
  grid-column: 1;
  grid-row: 2;
  z-index: 2;
  color: white;
  height: min-content;
  max-width: 330px;
  text-align: justify;
  overflow: hidden;
  backdrop-filter: blur(150px);
  padding: 20px;
  margin-top: 10px;
  align-self: start;
  @extend %show;
  p {
    margin-top: 10px;
  }
  p:first-child{
    margin-top: 0;
  }
}

.slide__background{
  grid-column: 1;
  grid-row: 1/4;
  position: absolute;
  height: 100vh;
  margin: 0 auto;
  width: auto;
}