@import '../Common/Common';

$maxWidth: 350px;

.slide{
  display: none;
  max-width: 400px;
  margin: 0 auto;
  justify-items: center;
  align-items: start;
  overflow: hidden;
  @extend %show;
}

.slide__image-container{
  display: grid;
  max-width: $maxWidth;
  grid-row: 1;
  grid-column: 1;
  z-index: 2;
}

.slide__imageBack{
  grid-column: 1;
  grid-row: 1;
  max-width: $maxWidth;
  @extend %show;
}

.slide__imageMiddle{
  grid-column: 1;
  grid-row: 1;
  max-width: $maxWidth;
  @extend %show;
}

.slide__imageLeft{
  grid-column: 1;
  grid-row: 1;
  max-width: $maxWidth;
  transform: translateX(-25%);
  @extend %show;
}

.slide__imageRight{
  grid-column: 1;
  grid-row: 1;
  max-width: $maxWidth;
  transform: scaleX(-1) translateX(-25%);
  @extend %show;
}

.slide__imageFront{
  grid-column: 1;
  grid-row: 1;
  max-width: $maxWidth;
  @extend %show;
}

.slide__border{
  grid-column: 1;
  grid-row: 1;
  max-width: $maxWidth;
  @extend %show;
}

.slide__text{
  grid-column: 1;
  grid-row: 2;
  z-index: 2;
  color: white;
  max-width: 330px;
  text-align: justify;
  p {
    margin-top: 10px;
  }
}

.slide__buttons{
  margin-top: 15px;
  grid-column: 1;
  grid-row: 3;
  z-index: 2;
}

.slide__button{
  grid-column: 1;
  color: white;
  max-width: $maxWidth;
  width: 100vw;
  height: 40px;
  filter: drop-shadow(5px 5px 3px black);
  background-image: url("../../Images/UI/button.png");
  background-size: cover;
  background-repeat: no-repeat;
  @extend %button-tap;
}

.slide__background{
  grid-column: 1;
  grid-row: 1/4;
  position: absolute;
  height: 100vh;
}

.slide__message {
  @extend %show;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 0;
  left: 0;
}

.slide__message-text {
  @extend %styled-background;
  @extend %styled-radius;
  @extend %styled-border;
  display: flex;
  justify-content: center;
  color: white;
  padding: 25px;
  min-width: 60%;
  text-align: justify;
}

.slide__inventory-button {
  position: absolute;
  top: 15px;
  left: 0;
  background-image: url("../../Images/UI/icon_bag.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 45px;
  height: 45px;
  z-index: 5;
}