@import '../Common/Common';

.slide__text-container{
  position: relative;
  grid-column: 1;
  grid-row: 2;
  z-index: 2;
  align-self: start;
  height: min-content;
}

.slide__speaker{
  position: absolute;
  top: -15px;
  z-index: 3;
  padding: 5px 10px 5px 10px;
  @extend %show;
  @extend %styled-border;
  @extend %slide-container;
}

.slide__speaker-дуае{
  left: -10px;
}

.slide__speaker-right{
  right: -10px;
}

.slide__text {
  color: white;
  min-width: 285px;
  max-width: 300px;
  text-align: left;
  padding: 20px;
  line-height: calc(1.8vh*1.2);
  @extend %show;
  @extend %styled-border;
  @extend %slide-container;
  /*hyphens: auto;*/
  p {
    margin-top: 10px;
    /*hyphens: auto;*/
  }
  p:first-child {
    margin-top: 0;
  }
}