@import '../Common/Common';

.slide__text-container{
  position: relative;
  grid-column: 1;
  grid-row: 2;
  z-index: 2;
  align-self: start;
  height: min-content;
}

.slide__speaker{
  position: absolute;
  top: -15px;
  z-index: 3;
  padding: 5px 10px 5px 10px;
  @extend %show;
  animation: fade-in 0.7s ease 0.45s 1 normal forwards;
  @extend %styled-border;
  @extend %slide-container;
}

.slide__speaker-left{
  left: 10px;
  border-radius: 150px;
  &:before{
    border-radius: 150px;
  }
}

.slide__speaker-right{
  right: 10px;
  border-radius: 150px;
  &:before{
    border-radius: 150px;
  }
}

.slide__text {
  color: white;
  min-width: 285px;
  max-width: 300px;
  text-align: left;
  padding: 20px;
  line-height: calc(1.8vh*1.2);
  @extend %show;
  animation: fade-in 0.7s ease 0.45s 1 normal forwards;
  @extend %styled-border;
  @extend %slide-container;
  max-height: 10px;
  transition: max-height 5s linear;
  /*hyphens: auto;*/
  p {
    margin-top: 10px;
    /*hyphens: auto;*/
  }
  p:first-child {
    margin-top: 0;
  }
}

.slide__text-enableSizing {
  max-height: 300px;
}

.slide__text-speech{
  border-radius: 150px;
  &:before{
    border-radius: 150px;
  }
}

.slide__text-speechBig{
  border-radius: 50px;
  &:before{
    border-radius: 50px;
  }
}