@import "../Common/Common";

.slide__toolbar {
  position: absolute;
  bottom: 0;
  padding: 15px;
  display: flex;
  flex-direction: row;
  gap: 35px;
  width: 100%;
  justify-content: space-evenly;
  transition: transform 0.6s ease-in-out;
}

%slide__toolbar-button {
  position: relative;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: center;
  width: 55px;
  height: 55px;
  z-index: 5;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 2px 2px 1px 0 rgba(255, 255, 255, 0.5),
  inset -1px -1px 1px 1px rgba(255, 255, 255, 0.5);
  @extend %button-tap;
  @extend %liquid-glass-bg-c;
}

.slide__inventory-button {
  background-image: url("../../Images/UI/icon_bag.svg");
  @extend %slide__toolbar-button;
}

.slide__journal-button{
  background-image: url("../../Images/UI/icon_journal.svg");
  @extend %slide__toolbar-button;
}

.slide__previous-button{
  background-image: url("../../Images/UI/icon_previous.svg");
  @extend %slide__toolbar-button;
}

.slide__exit-button{
  background-image: url("../../Images/UI/icon_exit.svg");
  @extend %slide__toolbar-button;
}


.slide__hide-button{
  position: absolute;
  top: -30px;
  // right: -30px;
  width: 55px;
  height: 55px;
  @extend %button-tap;
  z-index: 9;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.5;
  transition: opacity 0.6s ease-in-out;
  background-image: url("../../Images/UI/icon_down.svg");
}

.slide__toolbar_hidden{
  transform: translateY(75px);
  z-index: 5;
  .slide__hide-button{
    opacity: 0.2;
    background-image: url("../../Images/UI/icon_up.svg");
  }
}