@import "../Common/Common";

.slide__toolbar {
  position: absolute;
  bottom: 0;
  padding: 15px;
  display: flex;
  flex-direction: row;
  gap: 35px;
  width: 100vw;
  justify-content: space-evenly;
}

%slide__toolbar-button {
  background-repeat: no-repeat;
  background-size: 45px 45px;
  background-position: center;
  width: 65px;
  height: 65px;
  z-index: 5;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  @extend %button-tap;
}

.slide__inventory-button {
  background-image: url("../../Images/UI/icon_bag.svg");
  @extend %slide__toolbar-button;
}

.slide__previous-button{
  background-image: url("../../Images/UI/icon_previous.svg");
  @extend %slide__toolbar-button;
}

.slide__exit-button{
  background-image: url("../../Images/UI/icon_exit.svg");
  @extend %slide__toolbar-button;
}