@import '../Common/Common';

.settings {
  display: none;
  flex-direction: column;
  margin: 0 auto;
  max-width: 400px;
  @extend %show;
}

.settings__block {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px;
  @extend %styled-background;
  @extend %styled-border;
}

.settings__block:first-child {
  border-radius: 10px 10px 0 0;
}

.settings__block:last-child {
  border-radius: 0 0 10px 10px;
}

.settings__block:only-child {
  border-radius: 10px;
}

.settings__container {
  overflow: hidden;
  margin-bottom: 10px;
}

.settings__container:last-of-type {
  margin-bottom: 190px;
}

.settings__block > p {
  margin: auto auto auto 0;
  @extend %button-tap;
}

.settings__block > a {
  @extend %button-tap;
}

.settings__icon {
  width: 75px;
  border-radius: 10px;
}

.icon_span_next{
  margin-left: auto;
  width: 10px;
}
