@import '../Common/Common';

.settings{
  display: none;
  flex-direction: column;
  margin: 0 auto;
  max-width: 400px;
  @extend %show;
  @extend  %menuFont;
}

.settings__block{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px;
  @extend %styled-background;
  @extend %styled-border;
}

.settings__block:first-child{
  border-radius: 4px 4px 0 0;
}

.settings__block:last-child{
  border-radius: 0 0 4px 4px;
}

.settings__block:only-child{
  border-radius: 4px;
}

.settings__container{
  overflow: hidden;
  margin-bottom: 10px;
}

.settings__container:last-of-type{
  margin-bottom: 90px;
}

.settings__block>p{
  margin: auto auto auto 0;
}

.settings__icon{
  width: 75px;
  border-radius: 50px;
}