
@import '../Common/Common';

.switch {
  display: inline-block;
  height: 28px;
  position: relative;
  min-width: 50px;
  @extend %button-tap;
}

.switch input {
  display: none;
}

.slider {
  background-color: #bb6666;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
  box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

.slider:before {
  position: absolute;
  content: '';
  bottom: 4px;
  left: 3px;
  transition: 0.4s;
  width: 20px;
  height: 20px;
  box-shadow:
    0 0 5px 1px rgba(0, 0, 0, 0.5),
    inset 0 0 5px 1px rgba(0, 0, 0, 0.5);
  @extend %button-tap;
  background: url("../../Media/Images/UI/icon_x.svg");
  background-clip: padding-box;
  background-size: 100%;
  background-color: white;
}

input:checked + .slider {
  background-color: #66bb6a;
  box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

input:checked + .slider:before {
  transform: translateX(24px);
  background: url("../../Media/Images/UI/icon_check.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
